.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #EB6864;
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
}

hr {
    color: #EB6864;
    opacity: 1;
}

.standardPageHeader hr {
    height: 2px;
}

.wrapper {
    padding-top: 30px;
}

.formSubmitButton {
    margin-top: 15px;
}

.barTooltip {
    background-color: white;
    padding: 10px;
    border: 2px solid #CCCCCC;
}
