body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  padding-bottom: 90px;
  font-family: "News Cycle","Arial Narrow Bold",sans-serif;
}